@model LATICA.Models.PRODUCTO

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Producto</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            @Html.DisplayFor(model => model.nom_producto)
        </dd>

        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Cantidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            <label>Fotografía</label>
        </dt>

        <dd>
            <img width="150" height="150" src="@Url.Action("ConvertirImagen","PRODUCTOes", new {id = Model.id} ) " />

        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="text-align: left;width:500px" class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Regresar", "Index", "PRODUCTOes", null, new { @class = "btn btn-primary btn-large" })
                <input type="submit" value="Eliminar" class="btn btn-success" />
            </div>
            </div>
    }
</div>
