@model LATICA.Models.DETALLE_COMPRA

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Compra</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
       
        <div class="col-md-10">
            <label>Fecha</label>
            @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       
        <div class="col-md-10">
            <label>Producto</label>
            @Html.DropDownList("id_producto", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_producto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       
        <div class="col-md-10">
            <label>Cantidad</label>
            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
        </div>
    </div>


    <div width:500px" class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index","DETALLE_COMPRA", null, new { @class = "btn btn-primary btn-large" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
