@model IEnumerable<LATICA.Models.DETALLE_COMPRA>

@{
    ViewBag.Title = "Index";
}



<center>
    <h2>Detalle de su compra</h2>
</center>


<body style="margin-top:10px">

    <form class="form-horizontal" id="form1">
        <div class="container">
            <div class="row">
                <iv class="well-sm">
                    <fieldset>
                        <p>
                            @Html.ActionLink("Registre su compra", "Create", "DETALLE_COMPRA", null, new { @class = "btn btn-primary btn-large" })
                        </p>

                     

                        <table id="prueba" class="table table-hover" style="font-size:small">
                            <thead class="text-primary">
                                <tr>
                                    <th>
                                        <center>
                                            <label>Producto</label>
                                        </center>
                                    </th>
                                    <th>
                                        <center>
                                            <label>Fecha</label>
                                        </center>
                                    </th>
                                    <th>
                                        <center>
                                            <label>Cantidad</label>
                                        </center>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.PRODUCTO.nom_producto)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.fecha)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.cantidad)
                                            </center>
                                        </td>

                                        <td>
                                            <button class="btn btn-info">
                                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                            </button>

                                            <button class="btn btn-info">
                                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                                            </button>
                                        </td>


                                    </tr>
                                }
                                </tbody>
                               
                                

                        </table>

                    </fieldset>



            </div>
        </div>
    </form>

   @section Scripts
       {
       <script>
           $(document).ready(function () {
               $("#prueba").DataTable({
                   dom:'Bfrtip',
                   buttons: [{ extend: 'pdf', className:'btn btn-primary btn-large finalizaCompra', text:'Finalizar Compra'}]
               });

              

               $(".finalizaCompra").on('click', function (e) {
                   $.ajax({
                       type: 'post',
                       url: '@Url.Action("Borrar","DETALLE_COMPRA")',
                       success: function (data)
                       {
                           console.log("success", data);
                           if (data.result == 'Ok') {
                               window.location.href ='@Url.Action("Index", "DETALLE_COMPRA")';
                           }
                       }
                   });
               })
           })
       </script>
       }


</body>

